// DEVICES
$TabletV: 450px;
$TabletH: 768px;
$pc: 1200px;

//COLORS
$mainColor: #00B0C8;
$secondaryColor: #BAD74C;
$borderColor: #2E6249;

//FONTS
$titleFont: 'Black Ops One', cursive;
$subtitleFont: 'Iceland', cursive;
$bodyFont: 'Darker Grotesque', sans-serif;