.App {
  text-align: center;
  color: white;
  height: 100%;
  margin: auto;
  .header {
    height: 15vh;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      .logo {
        height: 70%;
      }
    }
  }
  .main {
    height: 100%;
    min-height: 80vh;
  }
  .footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 1px grey;
    font-size: smaller;
  }
}
