@import "utils/variables";
@import "utils/mixins";

.dataList {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-width: 1300px;
  margin: auto;
  .listItem {
    margin: auto;
    padding: 10px;
    width: 250px;
  }
}
