@import "utils/variables";
@import "utils/mixins";

.dataList {
  display: grid;
  @include forTabletV {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include forTabletH {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include forPc {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .listItem {
    margin: auto;
    padding: 10px;
    width: 250px;
  }
}
