@import "utils/variables";
@import "utils/mixins";

.form {
  .input {
    margin-bottom: 10px;
    &__search {
      width: 250px;
      padding: 5px;
      border: solid 1px $mainColor;
      background-color: transparent;
      color: white;
      text-align: center;
      @include forTabletH {
        width: 350px;
      }
      @include forPc {
        width: 450px;
      }
      &:hover {
        &::placeholder {
          color: transparent;
        }
      }
      &:focus {
        border: solid 2px $secondaryColor;
        &::placeholder {
          color: transparent;
        }
      }
      &::placeholder {
        color: $secondaryColor;
      }
    }
    .removeBtn {
      padding: 5px;
      border: solid 1px $mainColor;
      border-left: transparent;
      background-color: $mainColor;
      color: $secondaryColor;
      &:hover {
        cursor: pointer;
      }
    }
    &__checkbox {
      display: none;
      &--label {
        padding-left: 25px;
        &:hover {
          color: white;
        }
        @include forPc {
          &:hover {
            color: $secondaryColor;
          }
        }
      }
    }
  }
  .checkbox {
    @include forTabletH {
      display: flex;
      justify-content: center;
      * {
        margin: 5px;
      }
    }
    .icon {
      position: absolute;
      z-index: -1;
    }
    .active {
      color: $mainColor;
    }
  }
}
