.loaderPage {
  height: 80vh;
  width: 100%;
  text-align: center;
}
.loader {
  display: inline-block;
  width: 400px;
  height: 400px;
  position: relative;
  transform: scale(0.5);
  &__background {
    height: 100%;
  }
  &__spinner {
    &--left {
      position: absolute;
      width: 50px;
      top: 46%;
      left: 13%;
    }
    &--right {
      position: absolute;
      width: 50px;
      top: 51%;
      right: 37%;
    }
  }
}